@CHARSET "UTF-8";
/*
over-ride "Weak" message, show font in dark grey
*/


.column-icon{	float:left; margin-right:15px; margin-top:5px;}
.center-icon{	margin-left: auto; margin-right:auto;width:70%;}

a ,img
{
	    display: block;
    overflow: hidden;
    position: relative;
}

* {
    -webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	outline: none;
}

body {
	background: url(http://i.imgur.com/GHr12sH.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.tableStyle {
	color: #5d5d5d;
	background: #f2f2f2;
	padding: 26px;
	height:400px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}